################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEFCoreApp/.vs
/DbOperationsWithEFCoreApp/obj
/DbOperationsWithEFCoreApp/bin/Debug/net8.0
